.skills_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills_container > div {
    background: var(--color-bg-variant);
    margin: 1rem;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.skills_container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.skills_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);

}
.skill_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
}
.skill_item{
    display: flex;
    gap: 1rem;

}
.skill_item_icon{
    margin: 6px;
    color: var(--color-primary);
}

/* Media query for Tablets */
@media screen and (max-width:1024px) {
    .skills_container{
        display: grid;
        grid-template-columns: 1fr;
        margin: 2rem;
    }
    .skills_container> div{
        width: 80%;
        padding: 2rem;
        margin: 1rem auto;
    }
    .skill_content{
        padding: 1rem;
    }
    
}

@media screen and (max-width:600px) {
    .skills_container{
        gap: 1rem;
    }
    .skills_container> div{
        width: 100%;
        padding: 2rem 1rem;
    }
    .skill_content{
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
    
}